body{font-family:"Arial","Meiryo",sans-serif;}
.google-fonts{font-family: 'Josefin Sans', sans-serif;}
.decoration{font-size:20px;}
.text-center{text-align: center;}
#basic p{font-weight: bold;}
.color_skyblue{color:skyblue;}
.color_pink{color:rgb(255, 192, 203)}
.letter_1{letter-spacing: 1.2em;}
.shadow{text-shadow: 2px 3px 1px gray;}
.border{border-bottom: solid 3px rgb(115, 115, 114);}